div.margin-top-0 {
  clip-path:polygon(0 0, 100% 0, 100% 85%, 0 100%);
}

/* only IE10 以降 */
@media all and (-ms-high-contrast: none) {
div.margin-top-0 {

}
div.margin-top-0 div:nth-child(2) {
    position:absolute;
    margin:3rem auto;
}
}

